body{
    background-color: #FFFFF0;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
img{
    max-width: 100%;
}
.hamburger{
    width: 40px;
    padding: .5rem;
    left: 100%;
}
.hamburger hr{
    margin: .75rem 0;
    border: 2px solid #FFFFF0;
}
header nav{
    background-color: #FFFFF0;
    position: fixed;
    width: 100%;
    top: 0;
}
header nav a{
    display: block;
    color: #b195d2;
    text-align: center;
    text-decoration: none;
    padding: 3rem;
    border: 1px solid black;
}
header nav{
    left: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav.show{
    left: 0;
}
h1{
    color: #e9cbff;
}
header nav{
    transition-property: left;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}
header nav{
    top: 4.75rem;
}
.overlay{
    width: 100%;
    height: 100%;
    top: 4.75rem;
    position: fixed;
    background-color: #0b132b65;
    transition-property: left;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    left: 100%;
}
.overlay.show{
    left: 0;
}
header nav a:hover{
    background-color: #ccdcc3;
}
header{
    background-color: #b195d2;
    z-index: 1;
    top: 0;
    width: 100%;
    position: static;
}
header img{
    width: 30%;
    margin: 1rem;
}
header h1{
    padding: 2rem;
    font-size: 4.5rem;
}
.creation{
    color: #b195d2;
    font-size: 1.5rem;
    text-align: center;
    background-color: #e9cbff;
    padding-top: 1rem;
    margin: 2rem;
}
.recent{
    display: grid;
    background-color: #e9cbff;
    margin: 1rem;
    padding-bottom: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}
.recent img{
    width: 100%;
    height: 100%;
}
.green{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.pink{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.line{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.phoenix{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.about{
    background-color: #e9cbff;
    margin: 2rem;
    padding: 1rem;
}
.about h2{
    text-align: center;
    color: #b195d2;
}
.mon{
    background-color: #e9cbff;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
}
.mon h2{
    color: #b195d2;
}
.process{
    background-color: #ccdcc3;
    margin: 2rem;
    padding: 1rem;
}
.process h2{
    text-align: center;
    color: #b195d2;
}
.work{
    background-color: #ccdcc3;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    color: #b195d2;
}
.work img{
    padding-bottom: 2rem;
}
footer{
    background-color: #ccdcc3;
    margin: 2rem;
    padding: 1rem;
}
.form{
    background-color: #ccdcc3;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
}
textarea{
    height: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #0b132b;
    margin: 1rem;
    align-items: center;
}
.cow, .jellyfish, .bird, .man{
    background-color: #ccdcc3;
    margin: 2rem;
    padding: 2rem;
}
.price{
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: #ccdcc3;
    color: black;
    font-size: 1.5rem;
    outline: none;
    text-align: center;
}